*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col1{
    display: flex;
width: 22%;

flex-direction: column;
align-items: flex-start;
gap: 16px;
}

.col1 h3{
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 155.556% */
letter-spacing: -0.439px;
}

.col1 p{
    color: #CAD5E2;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.312px;
}