*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forminput{
    width: 100%;
}

form{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 6px;
flex-shrink: 0;
width: 100%;
align-self: stretch;
}

label{
    color: #0A0A0A;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 14px; /* 100% */
letter-spacing: -0.15px;
}

.input{
    display: flex;
height: 36px;
width: 100%;
padding: 4px 12px;
align-items: center;
flex-shrink: 0;
align-self: stretch;
border-radius: 8px;
border: 1px solid rgba(0, 0, 0, 0.00);
background: #F3F3F5;
}

.inputlong{
        display: flex;
height: 64px;
width: 100%;

padding: 4px 12px;
align-items: center;
flex-shrink: 0;
align-self: stretch;
border-radius: 8px;
border: 1px solid rgba(0, 0, 0, 0.00);
background: #F3F3F5;
}

input::placeholder{
    color: #717182;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.15px;
}