*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tag{
    display: inline-flex;
padding: 4px 10px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 1px solid rgba(0, 0, 0, 0.00);
background: #030213;
color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
}
